<div class="main">
     <nav>
        <div class="nav-wrapper blue-grey darken-4">
          <a href="#" class="brand-logo"><%= image_tag "airplanner-logo-white150W.svg"%></a>
          <%= hidden_field_tag 'user',current_user.id %>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="pad"> <%= current_user.name %></li>
            <li><a ui-sref="map.newplan">+ New Route</a></li>
            <li><a ui-sref="map.savedplan">Saved Routes</a></li>
            <li><a ui-sref="map.weather">Weather</a></li>
            <li><a href="#modal3">Profile</a></li>
            <li><%= link_to "Log out", destroy_user_session_path,:method=>"delete"%></li>
          </ul>
        </div>
      </nav>
  </div>

  <div>
    <div ui-view></div>
  </div>
  <div id="modal3" class="modal">
    <div class=" profile" style="text-align:center;">
      <h4> Profile </h4>
      <div class="row">
      
       <div class="col s6 user_info">
         <p><strong> Name: </strong><%= current_user.name %> </p>
         <p><strong> Joined: </strong><%= current_user.created_at.strftime("%d %b. %Y") %></p>
      </div>
     </div>
   </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi__6svk5rapTW5bKx4mOTMN1r8PDIoTU"></script>
