<div class="wrapper">
     <!-- make it a text with icon -->
     <a class="signup" href="#modal2" >Sign up</a>
     <div>
         <!-- <h1 class="title"> AirPlanner </h1> -->
        <%= image_tag "airplanner-logo-white.png" ,:class => "logo" %>
     </div>
     <div class="options">
          <a class="waves-effect waves-light btn-large login-landing-page" href="#modal1">Log in</a>
         <!-- <a class="waves-effect waves-light btn-large   grey darken-2" href="dashboard.html">Login</a> -->
     </div>
     <script>
     $(document).ready(function(){
   // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
   $('.modal').modal();
 });
     </script>
     <div id="modal1" class="modal">
      <div class="modal-content">
        <h5>Log in</h5>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <label>Email:</label>
          <%= f.email_field :email, autofocus: true %>
          <label>Password:</label>
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.submit "Log in" %>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>

    <div id="modal2" class="modal">
     <div class="modal-content">
       <h5>Sign Up</h5>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>
         <label>Name:</label>
         <%= f.text_field :name, autofocus: true %>
         <label>*Email:</label>
         <%= f.email_field :email %>
         <label>*Password:</label>
         <%= f.password_field :password, autocomplete: "off" %>
         <label>*Confirm password:</label>
         <%= f.password_field :password_confirmation, autocomplete: "off" %>
         <%= f.submit "Sign Up" %>
       <% end %>
      </div>
   </div>


  </div>
